<div class="modal-header">
  <button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 ng-if="modal.title" ng-bind="modal.title" class="modal-title"></h4>
</div>
<div class="modal-body-dark">
  <p ng-bind-html="modal.bookingText"></p>
  <p ng-if="modal.text" ng-bind="modal.text"></p>
  <ul>
    <li ng-repeat="ticket in modal.bookingObj.tickets">
      <span>{{ticket.type}}</span>: <span>{{ticket.price}} kr</span>
    </li>
  </ul>
  <p>Betalningsstatus: <span ng-class="{true:'danger',false:'success',undefined:'danger'}[modal.shouldPay]">{{modal.paymentStatusText}}</span></p>
  <div ng-if="modal.shouldPay">
  <div ng-if="modal.html" ng-bind-html="modal.html"></div>

  <div ng-if="modal.hasRadioOptions">
    <span>{{modal.radioButtonHeader}}</span>
    <div class="btn-group btn-group-lg">
    <button class="btn btn-warning" ng-repeat="radioButton in modal.radioButton.options" ng-click="modal.radioButton.data = radioButton.value">
      {{radioButton.value}}
    </button>
    <div ng-if="modal.radioButton.data == 'Kort' || modal.radioButton.data == 'Kontant'">
      <p>Administrationsavgift på 20 kr tillkommer</p>
      <br>
      <p> Kunden ska betala {{modal.bookingObj.total + 20}} kr</p>
    </div>
    </div>
  </div>
</div>
  </div>
<div class="modal-footer">
  <button ng-repeat="button in modal.buttons" ng-class="button.classes" ng-click="button.click($event)" ng-bind="button.text" class="btn"></button>
</div>
