<div ng-include="'components/navbar/navbar.html'"></div>


<header class="hero-unit" id="banner">
  <div class="container">



    <input class="search darkwell" ng-model="searchText" placeholder="Filter...">
    <ul class="list-group">
      <li class="list-group-item row">
        <span class="text-muted col-md-2">Name</span>
        <span class="text-muted col-md-2">Email</span>
        <span class="text-muted col-md-2">Tickets</span>
        <span class="text-muted col-md-2">Payed</span>
        <span class="text-muted col-md-2">Total</span>
        <span class="text-muted col-md-2">Incheckad</span>

      </li>
      <li class="list-group-item row" ng-repeat="booking in bookings | filter:searchText">
        <span class="text-muted col-md-2">{{booking.bookedBy.name}}</span>
        <span class="text-muted col-md-2">{{booking.bookedBy.email}}</span>
        <span class="text-muted col-md-2">{{booking.tickets.length}}</span>
        <span class="text-muted col-md-2">{{booking.isPaid}}</span>
        <span class="text-muted col-md-2">{{booking.total}}</span>
        <span class="text-muted col-md-2">{{booking.isCheckedIn}}</span>

      </li>

    </ul>

  </div>
</header>
