input.search {

    margin: 10px;
    width: 60%;
    height: 50px;
    font-size: 30px;
    }
.text-muted-title>p{
	font-weight: bold;
	font-size: 20px;
}
div.clickable-row{
  cursor:pointer;
}
.indent-row{
  width:80%;
}
.square{
  font-size:20px;
    font-family: 'Lato',verdana, sans-serif;
    color: #fff;
    text-align:center;
}
