<div ng-include="'components/navbar/navbar.html'"></div>


<header class="hero-unit" id="banner">
  <div class="container">



    Search: <input class="search" ng-model="searchText">
    <ul class="list-group">
      <li class="list-group-item row">
        <span class="text-muted col-md-2">Name</span>
        <span class="text-muted col-md-2">Email</span>
        <span class="text-muted col-md-2">Tickets</span>
        <span class="text-muted col-md-2">Payed</span>
        <span class="text-muted col-md-2">Total</span>
        <span class="text-muted col-md-2">Incheckad</span>
        
      </li>
      <li class="list-group-item row" ng-repeat="guest in guests | filter:searchText">
        <span class="text-muted col-md-2">{{guest.name}}</span>
        <span class="text-muted col-md-2">{{guest.email}}</span>
        <span class="text-muted col-md-2">{{guest.tickets}}</span>
        <span class="text-muted col-md-2">{{guest.payed}}</span>
        <span class="text-muted col-md-2">{{guest.total}}</span>
        <span class="text-muted col-md-2">{{guest.incheckad}}</span>
        
      </li>

    </ul>

  </div>
</header>